.input-field label {
  color: #000;
}
.input-field input[type=text]:focus + label {
  color: #000;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field .prefix.active {
  color: #000;
}
.hidden {
  visibility: none;
}

ol li {
  list-style:none
}

.map-canvas {
  width: 100%;
}
