body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-width: 300px;
}
.footer-about-link {
  color: #ffcc80;
}
.group-photo {
  height: 70%;
}
.input-field label {
  color: #000;
}
.input-field input[type=text]:focus + label {
  color: #000;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field .prefix.active {
  color: #000;
}
.hidden {
  visibility: none;
}
ol li {
  list-style:none
}
#map-canvas {
  height: 400px;
}
